/* COLORS

grey: #8E8E8E
orange: #FF6D00
darkPurple: #7C0CE8
lightPurple: #B308ED
pastelPurple: rgba(160, 132, 169, 1)
*/

/* BASIC simple CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inehrit from Body */
}

/* Helper Rules */

.hidden {
  display: none;
}

body {
  font-family: "Raleway", "Helvetica", sans-serif;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 42%, rgba(160, 132, 169, 1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 42%, rgba(160, 132, 169, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 42%, rgba(160, 132, 169, 1) 100%);
}

/* Font Size to rem */

html {
  font-size: 62.5%;
  /* 62.5% of 16px is 10px which is 1rem */
}

/* FLOATING NAVIGATION TOGGLE BUTTON */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
  border-radius: 50%;
  z-index: 2000;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 2rem;
  width: 1.6rem;
  /* border-radius: 50%; */
  position: fixed;
  top: 4.5rem;
  left: 5rem;
  background-image: radial-gradient(#B308ED, #7C0CE8);
  z-index: 1000;
  transition: -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1), -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  opacity: 1;
}

.navigation__nav {
  /* height: 100vh; */
  width: 0;
  position: fixed;
  top: 30rem;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.69, -0.55, 0.265, 1.55);
  opacity: 0;
}

.navigation__list {
  position: absolute;
  top: 65%;
  left: 91%;
  -webkit-transform: translate(-90%, -70%);
  transform: translate(-90%, -70%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #000;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}

.navigation__checkbox:checked~.navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3em;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon:before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon:after {
  top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* FLOATING NAVIGATION TOGGLE end */

/* HEADER Social Icons  */

#social {
  margin-top: 6rem;
}

#social li {
  display: inline;
  margin-right: 20px;
  font-size: 2.4rem;
}

#social li a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.fa-youtube:hover {
  color: red;
}

.fa-twitter:hover {
  color: deepskyblue;
}

.fa-instagram:hover {
  color: rgb(236, 156, 8);
}

.fa-facebook-square:hover {
  color: dodgerblue;
}

.fa-search:hover {
  transform: scale(1.4);
  cursor: pointer;
}

/* HEADER Social Icons  end */

/* INTRO PAGE */

#introPage {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

/* INTRO PAGE end*/

/* Background Video */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* OBJECT FIT property to fit the video to the element */
}

/* Background Video end*/

/* Animated Heading */

#PV_animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 15rem;
  /* bottom: 40rem; */
  left: 0px;
  margin: auto;
  background: transparent;
  width: 80%;
  height: 25%;
}

.purevolume {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 2px;
  stroke: purple;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  /*   animation-direction: alternate; */
  animation-timing-function: ease-in-out;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: #b308ed;
}

.cls-3 {
  fill: transparent;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.cls-4 {
  fill: #b308ed;
}

@keyframes pure {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: purple;
    fill: #fff;
    opacity: 0.9;
  }
}

/* Animated Heading end */

/* tagline */

#tagline {
  color: #8e8e8e;
  font-size: 1rem;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

/* tagline end */

/* discoverUs play btn */

#discoverUs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

#discoverUs>p {
  font-size: 2rem;
  color: #fff;
}

.fa-play-circle {
  font-size: 6rem;
  transform: scale(1.1);
  margin-top: 3rem;
  color: #fff;
}

.fa-play-circle:hover {
  transform: scale(1);
  cursor: pointer;
}

/* discoverUs play btn end */

/* Scroll Down Icon  */

.scroll-downs {
  position: absolute;
  top: 70rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 45px;
  display: none;
}

.mouse {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.55;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}


/* CONTENT BOXES */

#content_boxes {
  /* fit in up to 5 columns of 180px wide tiles, 20px gutters: 5*180 + 4*20: */
  max-width: 1540px;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  grid-gap: 20px;
  grid-auto-columns: minmax(50px 1fr);
  grid-auto-rows: 250px;
  padding: 0 0 5rem 0;
}

.single-article {
  max-width: 400px;
  background-color: #4C3F4C;
  overflow: hidden;
  position: relative;
}

.ad{
  box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
}

.desc-block {
  display: block;
  position: absolute;
  background-color: #4C3F4C;
  color: #fff;
  bottom: 0;
}

#article1 {
  grid-column: 1;
  grid-row: 1/3;
}

#article2 {
  grid-column: 1;
  grid-row: 3/5;
}

#article3 {
  grid-column: 1;
  grid-row: 5/6;
}

#article4 {
  grid-column: 1;
  grid-row: 6/8;
}

#article5 {
  grid-column: 1;
  grid-row: 8/9;
}

#article6 {
  grid-column: 1;
  grid-row: 9/11;
}

#article7 {
  grid-column: 1;
  grid-row: 11/13;
}

.desc-block p,
.desc-block h3 {
  padding: 6px;
  text-align: center;
}

.desc-block h3 {
  font-size: 2rem;
}

.desc-block p {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  #content_boxes {
    margin: 10rem;
  }
  .single-article {
    margin: 0;
  }
  #article1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  #article2 {
    grid-column: 1;
    grid-row: 3/5;
  }
  #article3 {
    grid-column: 1;
    grid-row: 5/6;
  }
  #article4 {
    grid-column: 1;
    grid-row: 6/8;
  }
  #article5 {
    grid-column: 2;
    grid-row: 1/2;
  }
  #article6 {
    grid-column: 2;
    grid-row: 2/4;
  }
  #article7 {
    grid-column: 2;
    grid-row: 4/6;
  }
}

@media screen and (min-width: 1044px) {
  #content_boxes {
    /* fit in up to 5 columns of 180px wide tiles, 20px gutters: 5*180 + 4*20: */
    max-width: 1540px;
    margin: 5rem 10rem auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3 minmax(150px, auto));
    grid-auto-rows: 250px;
  }
  .single-article {
    margin: 0 auto;
    background-color: #4C3F4C;
    overflow: hidden;
    position: relative;
  }
  .desc-block {
    display: block;
    position: absolute;
    background-color: #4C3F4C;
    color: #fff;
    bottom: 0;
  }
  #article1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  #article2 {
    grid-column: 1;
    grid-row: 3/5;
  }
  #article3 {
    grid-column: 2;
    grid-row: 1;
  }
  #article4 {
    grid-column: 2;
    grid-row: 2/4;
  }
  #article5 {
    grid-column: 2;
    grid-row: 4;
  }
  #article6 {
    grid-column: 3;
    grid-row: 1/3;
  }
  #article7 {
    grid-column: 3;
    grid-row: 3/5;
  }
}

/* CONTENT BOXES END */

/* FOOTER */

#footer {
  padding-bottom: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#footerLogo {
  width: 20rem;
  margin-bottom: 1.6rem;
}

#footer_navigation {
  border-top: 1px solid #fff;
  padding-top: 2rem;
  display: inline-block;
}

.footer_list {
  list-style: none;
}

.footer_item {
  display: inline-block;
}

.footer_item a {
  color: #000;
  text-decoration: none;
}

.footer_item:not(:last-child) {
  margin-right: 1.5rem;
}

/* FOOTER end*/

/*  --------------------- ORIGINS PAGE --------------------- */
#originsContainer{
  background-color: rgba(160, 132, 169, 1);
}

#logo{
  max-width: 200px;
  display: block;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.title {
  color: white;
  text-align: center;
  font-size: 6em;
  padding-bottom: 2rem;
}

.timeline {
  margin: 0 auto;
  height: 640px;
  width: 100%;
  background-color: rgba(160, 132, 169, 1);
  /* border: 15px solid #450145; */
  /* box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75); */
  position: relative;
  overflow-x: scroll;
}

#time-line {
  position: absolute;
  top: 50%;
  display: block;
  height: 10px;
  width: 3000px;
  background-color: #7C0CE8;
  overflow: visible;
}

.circle {
  display: block;
  position: absolute;
  top: 47.5%;
  height: 40px;
  width: 40px;
  background-color: #7C0CE8;
  border-radius: 50px;
}

.circle:hover {
  background-color: #fff;
  transform: scale(1.1, 1.1);
  transition: linear 0.05s;
}

#circle1 {
  left: 100px;
}

#circle2 {
  left: 275px;
}

#circle3 {
  left: 420px;
}

#circle4 {
  left: 700px;
}

#circle5 {
  left: 940px;
}

#circle6 {
  left: 1210px;
}

#circle7 {
  left: 1430px;
}

#circle8 {
  left: 1790px;
}

#circle9 {
  left: 2040px;
}

#circle10 {
  left: 2200px;
}

#circle11 {
  left: 2470px;
}

#circle12 {
  left: 2610px;
}

#circle13 {
  left: 2840px;
}

.time-desc {
  position: absolute;
  top: 55%;
  left: 35px;
  width: 200px;
  display: inline-block;
  background-color: white;
  border: 8px solid white;
  border-radius: 8px;
}

.time-desc .title {
  font-size: 2em;
  color: black;
}

.time-desc .desc {
  font-size: 1.5em;
  text-align: center;
}

.time-desc:nth-of-type(odd) {
  top: 365px;
}

.time-desc:nth-of-type(even) {
  top: 50px;
}

#box1 {
  left: 15px;
}

#box2 {
  left: 190px;
}

#box3 {
  left: 335px;
}

#box4 {
  left: 615px;
}

#box5 {
  left: 855px;
}

#box6 {
  left: 1125px;
}

#box7 {
  left: 1347px;
}

#box8 {
  left: 1705px;
}

#box9 {
  left: 1955px;
}

#box10 {
  left: 2115px;
}

#box11 {
  left: 2385px;
}

#box12 {
  left: 2525px;
}

#box13 {
  left: 2755px;
}

/*HOVER ON CIRCLE*/

#circle1:hover~#box1,
#circle2:hover~#box2,
#circle3:hover~#box3,
#circle4:hover~#box4,
#circle5:hover~#box5,
#circle6:hover~#box6,
#circle7:hover~#box7,
#circle8:hover~#box8,
#circle9:hover~#box9,
#circle10:hover~#box10,
#circle11:hover~#box11,
#circle12:hover~#box12,
#circle13:hover~#box13 {
  transform: scale(1.2, 1.2);
  transition: linear 0.05s;
}

.storyContainer {
  margin: 0 auto;
  padding: 20px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 18px;
}

.article {
  display: inline-block;
  max-width: 400px;
  min-width: 150px;
  background-color: purple;
  overflow: hidden;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 26px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #efefef;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: purple;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, .5);
  background-color: #7C0CE8;
}

/* ORIGINS CSS end */

/* VIDEO PLAYER / Video Controls CSS RULES */

.videoScreen {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 4rem 0;
  background-color: rgba(0, 0, 0, 1);
}

.close-videoScreen {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-family: arial, helvetica, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.show-videoPlayer {
  display: block;
}

#videoElement {
  width: 80%;
  border: thin solid #8e8e8e;
}

.controls {
  margin-top: 1.5em;
}

/* [data-icon]:not([data-icon:pause-circle]):not([data-icon:play-circle]) {
  font-size: 2em;
} */

.controls ul [data-icon] {
  font-size: 3em;
  color: #fff;
  cursor: pointer;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  padding: 0.1em;
}

.play-pause {
  width: 2rem;
  margin: 0 2rem;
}

/* CLIP RANGE INPUT Crossbrowser */

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 400px;
  cursor: pointer;
  margin-bottom: 12px;
  margin-left: 10px;
}

input[type=range]:focus {
  outline: none;
}

::-webkit-slider-runnable-track {
  background: #ddd;
  border: none;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #B308ED;
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border-radius: 50%;
  box-shadow: -100vw 0 0 100vw #B308ED;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: #B308ED;
}

::-ms-thumb {
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip {
  display: none;
}

/* END INPUT RANGE RULES*/

#muteBtn {
  color: #fff;
  cursor: pointer;
}

#volumeBar {
  width: 200px;
}

#clipTiming {
  font-size: 1.1em;
  vertical-align: bottom;
  position: relative;
  bottom: 10px;
}

/* Controls On  Mobile */

#clipBar,
#clipTiming,
#volumeBar,
#muteBtn {
  display: none;
}

/* Controls On  Mobile  end */

/* VIDEO PLAYER CSS RULES end */

/* ----------- ------- ---------- */

/* -------- MEDIA QUERIES --------*/

/* ----------- ------ ----------- */

/* 300p */
@media screen and (min-width: 300px) {
  #logo{
    max-width: 250px;
  }
}

/* 400px */

@media screen and (min-width: 400px) {
  #logo{
    max-width: 300px;
  }
}

/* 700px */

@media screen and (min-width: 700px) {
  .navigation__background {
    width: 0.6rem;
    opacity: 0.8;
  }
  .navigation__list {
    top: 5rem;
    left: 60%;
  }
  .navigation__button {
    left: 4rem;
  }
  #clipBar,
  #clipTiming,
  #muteBtn {
    display: inline-block;
  }

  #logo{
    max-width: 400px;
  }
}

/* 900px */

@media screen and (min-width: 900px) {
  .navigation__background {
    left: 9rem;
  }

  #logo{
    max-width: 600px;
  }

  .title {
    font-size: 8em;
  }
}

/* 1000px */

@media screen and (min-width: 1000px) {
  .navigation__list {
    top: 7rem;
    left: 55%;
  }
  #tagline {
    font-size: 3rem;
    margin-top: 25rem;
  }
  #discoverUs {
    flex-flow: row;
  }
  #discoverUs>p {
    margin-right: 4rem;
    margin-top: 3rem;
  }
  .fa-play-circle {
    font-size: 8rem;
  }
  #content_boxes {
    padding: 15rem 0;
  }
}

/* 1200px */

@media screen and (min-width: 1200px) {
  .scroll-downs {
    display: block;
    top: 60rem;
  }
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 3rem;
  }
  .navigation__list {
    top: 15rem;
    left: 52%;
  }
  #discoverUs>p {
    font-size: 3rem;
  }
  .navigation__background {
    left: 5.5rem;
  }
  #footerLogo {
    width: 40rem;
  }
  .footer_item a {
    font-size: 2rem;
  }
  .footer_item:not(:last-child) {
    margin-right: 10rem;
  }
  .footer_item:hover {
    font-weight: bolder;
    border-bottom: 1px solid #000;
  }
  #volumeBar {
    display: inline-block;
  }
}

/* 1500px */

@media screen and (min-width: 1500px) {
  .scroll-downs {
    display: block;
  }
  .navigation__list {
    top: 15rem;
    left: 50%;
  }
  #PV_animation {
    bottom: 40rem;
  }
  .navigation__background {
    left: 6rem;
  }
}

/* 1800px */

@media screen and (min-width: 1600px) {
  .navigation__background {
    width: 0.9rem;
  }
}

/* 2000px */

@media screen and (min-width: 2000px) {
  #content_boxes {
    /* fit in up to 5 columns of 180px wide tiles, 20px gutters: 5*180 + 4*20: */
    max-width: 1540px;
    margin: 20rem auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3 minmax(150px, auto));
    grid-auto-rows: 250px;
  }
  .single-article {
    margin: 0 auto;
    background-color: #4C3F4C;
    overflow: hidden;
    position: relative;
  }
}
