/* COLORS

grey: #8E8E8E
orange: #FF6D00
darkPurple: #7C0CE8
lightPurple: #B308ED

*/

/* BASIC simple CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inehrit from Body */
}

/* Helper Rules */

.hidden {
  display: none;
}

body {
  font-family: "Raleway", "Helvetica", sans-serif;
  background: #310026;
}

/* Font Size to rem */

html {
  font-size: 62.5%;
  /* 62.5% of 16px is 10px which is 1rem */
}

/* FLOATING NAVIGATION TOGGLE BUTTON */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 2rem;
  left: 6rem;
  border-radius: 50%;
  z-index: 2000;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    left: 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    left: 3rem;
  }
}

.navigation__background {
  height: 2rem;
  width: 0.6rem;
  /* border-radius: 50%; */
  position: fixed;
  top: 2rem;
  left: 9rem;
  background-image: radial-gradient(#B308ED, #7C0CE8);
  z-index: 1000;
  transition: -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1), -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  opacity: 0.4;
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.69, -0.55, 0.265, 1.55);
  opacity: 0;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-90%, -70%);
  transform: translate(-90%, -70%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #000;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}

.navigation__checkbox:checked~.navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3em;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon:before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon:after {
  top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* FLOATING NAVIGATION TOGGLE end */

/* HEADER Social Icons  */

#social {
  margin-top: 60rem;
  margin-left: 5rem;
}

#social li {
  display: inline;
  margin-right: 20px;
  font-size: 2.4rem;
}

#social li a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.fa-youtube:hover {
  color: red;
}

.fa-twitter:hover {
  color: deepskyblue;
}

.fa-instagram:hover {
  color: rgb(236, 156, 8);
}

.fa-facebook-square:hover {
  color: dodgerblue;
}

/* HEADER Social Icons  end */

/* INTRO PAGE */

#introPage {
  height: 100vh;
}

/* INTRO PAGE end*/

/* Background Video */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover; //! OBJECT FIT property to fit the video to the element
}

/* Background Video end*/

/* Animated Heading */

#PV_animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20rem;
  left: 0px;
  margin: auto;
  background: transparent;
  width: 80%;
  height: 25%;
}

.purevolume {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 2px;
  stroke: purple;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  /*   animation-direction: alternate; */
  animation-timing-function: ease-in-out;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: #b308ed;
}

.cls-3 {
  fill: transparent;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.cls-4 {
  fill: #7c0ce8;
}

@keyframes pure {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: purple;
    fill: #8e8e8e;
  }
}

/* Animated Heading end */
















/* ORIGINS CSS */
.title{
  color: white;
  text-align: center;
  font-size: 8em;
  padding-bottom: 2rem;
}

.timeline{
  margin: 0 auto;
  height: 640px;
  width: 80%;
  background-color: purple;
  /* border: 15px solid #450145; */
  box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
  position: relative;
  overflow-x: scroll;
}

#time-line{
  position: absolute;
  top: 50%;
  display: block;
  height: 10px;
  width: 3000px;
  background-color: orange;
  overflow: visible;
}

.circle{
  display: block;
  position: absolute;
  top: 47.5%;
  height: 20px;
  width: 20px;
  background-color: purple;
  border-radius: 50px;
  border: 10px solid orange;
}

.circle:hover{
  background-color: orange;
  transform: scale(1.2,1.2);
  transition: linear 0.05s;
}

#circle1{
  left: 100px;
}

#circle2{
  left: 275px;
}
#circle3{
  left: 420px;
}
#circle4{
  left: 700px;
}
#circle5{
  left: 940px;
}
#circle6{
  left: 1210px;
}
#circle7{
  left: 1430px;
}
#circle8{
  left: 1790px;
}
#circle9{
  left: 2040px;
}
#circle10{
  left: 2200px;
}

#circle11{
  left: 2470px;
}

#circle12{
  left: 2610px;
}

#circle13{
  left: 2840px;
}

/* .point{
  border-top: 15px solid white;
  border-left: 15px solid white;
  display: inline-block;
  position: absolute;
  top: -19px;
  left: -2px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  transform: rotate(45deg);
  z-index: 0;
} */

.time-desc{
  position: absolute;
  top: 55%;
  left: 35px;
  width: 150px;
  display: inline-block;
  background-color: white;
  border: 8px solid white;
  border-radius: 8px;
}

.time-desc .title{
  font-size: 2em;
  color: black;
}

.time-desc .desc{
  font-size: 1.5em;
  text-align: center;
}

.time-desc:nth-of-type(odd){
  top: 365px;
}

.time-desc:nth-of-type(even){
  top: 50px;
}


#box1{
  left: 35px;
}

#box2{
  left: 210px;
}

#box3{
  left: 355px;
}

#box4{
  left: 635px;
}

#box5{
  left: 875px;
}

#box6{
  left: 1145px;
}

#box7{
  left: 1367px;
}
#box8{
  left: 1725px;
}
#box9{
  left: 1975px;
}
#box10{
  left: 2135px;
}
#box11{
  left: 2405px;
}
#box12{
  left: 2545px;
}
#box13{
  left: 2775px;
}

/*HOVER ON CIRCLE*/

#circle1:hover ~ #box1,
#circle2:hover ~ #box2,
#circle3:hover ~ #box3,
#circle4:hover ~ #box4,
#circle5:hover ~ #box5,
#circle6:hover ~ #box6,
#circle7:hover ~ #box7,
#circle8:hover ~ #box8,
#circle9:hover ~ #box9,
#circle10:hover ~ #box10,
#circle11:hover ~ #box11,
#circle12:hover ~ #box12,
#circle13:hover ~ #box13{
  transform: scale(1.2, 1.2);
  transition: linear 0.05s;
}









.storyContainer{
  margin: 0 auto;
  padding: 20px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 18px;
}

.article{
  display: inline-block;
  max-width: 400px;
  min-width: 150px;
  background-color: purple;
  overflow: hidden;
}


.scrollbar::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 26px 0 rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #efefef;
}

.scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: purple;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 16px 0 rgba(0,0,0,.5);
	background-color: orange;
}









































/* END CSS */
