/* COLORS

grey: #8E8E8E
orange: #FF6D00
darkPurple: #7C0CE8
lightPurple: #B308ED

*/

/* BASIC simple CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inehrit from Body */
}

/* Helper Rules */

.hidden {
  display: none;
}

body {
  font-family: "Raleway", "Helvetica", sans-serif;
  background: #000;
}

/* Font Size to rem */

html {
  font-size: 62.5%;
  /* 62.5% of 16px is 10px which is 1rem */
}

/* FLOATING NAVIGATION TOGGLE BUTTON */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
  border-radius: 50%;
  z-index: 2000;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 2rem;
  width: 1.6rem;
  /* border-radius: 50%; */
  position: fixed;
  top: 4.5rem;
  left: 5rem;
  background-image: radial-gradient(#B308ED, #7C0CE8);
  z-index: 1000;
  transition: -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1), -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
  opacity: 1;
}

.navigation__nav {
  /* height: 100vh; */
  width: 0;
  position: fixed;
  top: 30rem;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.69, -0.55, 0.265, 1.55);
  opacity: 0;
}

.navigation__list {
  position: absolute;
  top: 65%;
  left: 91%;
  -webkit-transform: translate(-90%, -70%);
  transform: translate(-90%, -70%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #000;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}

.navigation__checkbox:checked~.navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3em;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon:before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon:after {
  top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* FLOATING NAVIGATION TOGGLE end */

/* HEADER Social Icons  */

#social {
  margin-top: 6rem;
}

#social li {
  display: inline;
  margin-right: 20px;
  font-size: 2.4rem;
}

#social li a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.fa-youtube:hover {
  color: red;
}

.fa-twitter:hover {
  color: deepskyblue;
}

.fa-instagram:hover {
  color: rgb(236, 156, 8);
}

.fa-facebook-square:hover {
  color: dodgerblue;
}

.fa-search:hover {
  transform: scale(1.4);
  cursor: pointer;
}

/* HEADER Social Icons  end */

/* INTRO PAGE */

#introPage {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

/* INTRO PAGE end*/

/* Background Video */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover; //! OBJECT FIT property to fit the video to the element
}

/* Background Video end*/

/* Animated Heading */

#PV_animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 15rem;
  /* bottom: 40rem; */
  left: 0px;
  margin: auto;
  background: transparent;
  width: 80%;
  height: 25%;
}

.purevolume {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 2px;
  stroke: purple;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  /*   animation-direction: alternate; */
  animation-timing-function: ease-in-out;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: #b308ed;
}

.cls-3 {
  fill: transparent;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.cls-4 {
  fill: #7c0ce8;
}

@keyframes pure {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: purple;
    fill: #8e8e8e;
  }
}

/* Animated Heading end */

/* tagline */

#tagline {
  color: #fff;
  font-size: 1rem;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

/* tagline end */

/* discoverUs play btn */

#discoverUs {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

#discoverUs>p {
  font-size: 2rem;
}

.fa-play-circle {
  font-size: 6rem;
  transform: scale(1.1);
  margin-top: 3rem;
}

.fa-play-circle:hover {
  transform: scale(1);
  cursor: pointer;
}

/* discoverUs play btn end */

/* Scroll Down Icon  */

.scroll-downs {
  position: absolute;
  top: 70rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 45px;
  display: none;
}

.mouse {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.55;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* CONTENT BOXES */

#content_boxes {
  /* fit in up to 5 columns of 180px wide tiles, 20px gutters: 5*180 + 4*20: */
  max-width: 1540px;
  margin: 20rem auto;
}

.articles {
  display: grid;
  grid-gap: 6rem;
  grid-auto-rows: minmax(150px, auto);
}

.articles>* {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.articles p,
.articles h3 {
  background: rgba(0, 0, 0, 0.8);
  padding: 6px;
}

.articles h3 {
  font-size: 2rem;
}

.articles p {
  font-size: 1.2rem;
}

.article_1 {
  background-image: url(https://d1x7zurbps6occ.cloudfront.net/product/xlarge/528369-152543.jpg);
  background-position: bottom left;
  color: #fff;
}

.article_5 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/23/The_Cranberries_en_Barcelona_8.jpg);
  color: #fff;
}

.article_4 {
  background-image: url(http://www.metalinjection.net/wp-content/uploads/2015/12/acdc-angus-young.jpg);
  color: #fff;
}

.article_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(https://i.pinimg.com/originals/9d/6e/3f/9d6e3ffb63d7d03c922d2f481ecee96e.jpg);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.article_2 h3,
.article_3 h3 {
  margin-top: auto;
}

.article_3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(http://theweeklyspoon.com/wp-content/uploads/2018/05/Queen.jpg);
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .articles {
    grid-template-columns:  repeat(2, minmax(200px, auto)) ;
    grid-template-rows:  minmax(400px, auto) ;
  }
  /* .article_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .article_2 {
    grid-column: 1;
    grid-row: 3 / 6;
  }
  .article_3 {
    grid-column: 1;
    grid-row: 6;
  } */

}

@media (min-width: 800px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(150px, auto) minmax(150px, auto);
  }
  .articles h3 {
    font-size: 2.9rem;
  }
  .articles p {
    font-size: 1.8rem;
  }
  .article_1 {
    grid-column: 1;
    grid-row: 1 / 6;
  }
  .article_2 {
    grid-column: 2;
    grid-row: 1 / 4;
  }
  .article_3 {
    grid-column: 2;
    grid-row: 4 / 6;
  }
  .article_4 {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .article_5 {
    grid-column: 3;
    grid-row: 3 / 6;
  }
}

/* CONTENT BOXES END */

/* Scroll Down Icon  end */

/* ----------- ------- ---------- */

/* -------- MEDIA QUERIES --------*/

/* ----------- ------ ----------- */

/* 700px */

@media screen and (min-width: 700px) {
  .navigation__background {
    width: 0.6rem;
    opacity: 0.4;
  }
  .navigation__list {
    top: 5rem;
    left: 60%;
  }
  .navigation__button {
    left: 4rem;
  }
}

/* 900px */

@media screen and (min-width: 900px) {
  .navigation__background {
    left: 9rem;
  }
}

/* 1000px */

@media screen and (min-width: 1000px) {
  .navigation__list {
    top: 7rem;
    left: 55%;
  }
  #tagline {
    font-size: 3rem;
    margin-top: 25rem;
  }
  #discoverUs {
    flex-flow: row;
  }
  #discoverUs>p {
    margin-right: 4rem;
    margin-top: 3rem;
  }
  .fa-play-circle {
    font-size: 8rem;
  }
}

/* 1200px */

@media screen and (min-width: 1200px) {
  .scroll-downs {
    display: block;
  }
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 3rem;
  }
  .navigation__list {
    top: 10rem;
  }
}

/* 1500px */

@media screen and (min-width: 1500px) {
  .scroll-downs {
    display: block;
  }
  .navigation__list {
    top: 15rem;
    left: 50%;
  }
  #PV_animation {
    bottom: 40rem;
  }
  .navigation__background {
    left: 6rem;
  }
}

/* 1800px */

@media screen and (min-width: 1600px) {
  .navigation__background {
    width: 0.9rem;
  }
}